.form-container {
    margin: auto;
    width: 700px;
}

.brand-logo>img {
    width: 80px;
    margin-top: -8px;
}

nav {
    box-shadow: none !important,
}

.logo {
    width: 120px;
    float: left;
    ;
}

.text-container {
    float: left;
    margin-top: 5px;
}

.splash-screen {background-color: rgb(254, 254, 254); width: 100%; position: fixed; left: 0px; top: 0px; height: 100%;z-index: 150;}

.splash-container {margin: auto; width: 250px;margin-top: 40vh;}

.splash-container > video {width: 250px;background-color: white;}

.splash-container > img {width: 235px;margin-top: -190px;z-index: 15;position: relative;}


.text-container>p {
    margin-top: -7px;
    ;
}

.top {
    margin: auto;
    width: 600px;
    ;
}

.btn-container {
    margin: auto;
    width: 150px;
}

form {
    margin-bottom: 100px;
}