body {margin: 0px; padding: 0px;font-family:sans-serif;}

.home-navigation {margin: auto;width: 280px;margin-top: 40vh;}

.home-navigation > img {width: 100%;}

.home-navigation > ul > li > a{text-decoration: none;color: black;}

.home-navigation > ul > li > a:hover {color: black;}

.home-navigation > ul > li {display: inline-block;margin-left: 30px;margin-top: 15px;}

.line-divider {width: 83px; height: 2px; background-color: rgb(0, 0, 0);float: left;margin-top: -1px;z-index: 15;position: relative;}

.home-navigation > ul {list-style-type: none;margin: auto; width: 280px;border-top: solid 1.5px #BABABA ;padding: 0px;float: left;margin-top: -2px; z-index: -1;;}

.home-active {color: black;font-weight: bold;}

.home-active-li {;}

/*-------------------------------------------------------------------Splash Screen--------------------------------------------------------------------*/

.splash-screen {background-color: rgb(254, 254, 254); width: 100%; position: fixed; left: 0px; top: 0px; height: 100%;z-index: 150;}

.splash-container {margin: auto; width: 250px;margin-top: 40vh;}

.splash-container > video {width: 250px;background-color: white;}

.splash-container > img {width: 240px;margin-top: -190px;z-index: 15;position: relative;}

